<h2>Create Beneficial Owner</h2>

<div>
    <label>First Name:</label>
    <br>
    <div *ngIf='errors.firstName'><span class='validationError'>{{errors.firstName}}</span></div>
    <input [(ngModel)]="beneficialOwner.firstName" /><br>

    <label>Last Name:</label>
    <br>
    <div *ngIf='errors.lastName'><span class='validationError'>{{errors.lastName}}</span></div>
    <input [(ngModel)]="beneficialOwner.lastName" /><br>

    <br>
    
    <button (click)="createBeneficialOwner();">
      Create
    </button>
  </div>